@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable Flowbite/Tailwind focus rings globally */
[multiple]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  --tw-ring-inset: initial !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: transparent !important;
  --tw-ring-color: transparent !important;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  border-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
  outline-offset: 0 !important;
}
